* {
  font-family: 'Roboto', sans-serif;
}
#sider-bar-main::-webkit-scrollbar {
  background-color: #faf9f9;
  width: 16px;
}

#sider-bar-main::-webkit-scrollbar-track {
  background-color: transparent;
}

#sider-bar-main::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border: 4px solid transparent;
  background-clip: content-box;
}

#sider-bar-main::-webkit-scrollbar-thumb:hover {
  background-color: #cccccc;
}

#notification-bell::-webkit-scrollbar {
  background-color: #faf9f9;
  width: 16px;
}

#notification-bell::-webkit-scrollbar-track {
  background-color: transparent;
}

#notification-bell::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border: 4px solid transparent;
  background-clip: content-box;
  border-radius: 999;
}

#notification-bell::-webkit-scrollbar-thumb:hover {
  background-color: #cccccc;
}

::selection {
  background-color: #1376af;
  color: #fff;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.gallery {
  display: flex;
  gap: 10px;
}
